/**
 * {{#lambda.indented_star_1}}{{{unescapedDescription}}}{{/lambda.indented_star_1}}
 */
export type {{classname}} =
{{#allowableValues}}
    {{#enumVars}}
    {{{value}}}{{^-last}}|{{/-last}}
    {{/enumVars}}
{{/allowableValues}}

const {{classname}}Values = [
{{#allowableValues}}
    {{#enumVars}}
    {{{value}}},
    {{/enumVars}}
{{/allowableValues}}
]

export function is{{classname}}(value: any): value is {{classname}} {
    return {{classname}}Values.indexOf(value as unknown as {{classname}}) !== -1
}
