{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "OpenAPI client for {{npmName}}",
  "author": "openapi-kr",
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "https://github.com/openapi-kr/sdks.git"
  },
{{#packageAsSourceOnlyLibrary}}
  "main": "./index.ts",
{{/packageAsSourceOnlyLibrary}}
{{^packageAsSourceOnlyLibrary}}
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
{{#supportsES6}}
  "module": "./dist/esm/index.js",
  "sideEffects": false,
{{/supportsES6}}
  "scripts": {
    "build": "tsc{{#supportsES6}} && tsc -p tsconfig.esm.json{{/supportsES6}}",
    "prepack": "npm run build"
  },
{{/packageAsSourceOnlyLibrary}}
  "devDependencies": {
    "typescript": "^5.0"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig": {
    "registry": "{{npmRepository}}"
  }
{{/npmRepository}}
}
